
#pagination-links= pagination_links(Yogo::Project, params[:page], 5) 
=clear_break
#content-block
  - for project in collection
    .content-row-block
      - if project.yogo_model_uid
        .project-icon(style = 'margin-left: 10px')
          = image_tag('kefed.png')
          / %iframe(name='kefedFrame' id='kefedFrame' src="#{kefed_navigator_swf_url}?uid=#{project.yogo_model_uid}" width="100%" height="600")
          /   %p Your browser does not support iframes.

      .project-text
        %h2
          = link_to(project.name, yogo_project_path(project) ) 
          = image_tag('icons/private_16.png', :title => 'Private Project') if project.is_private?

        %p.rbox.tight
          - if project.description && project.description.length > 0
            %strong= link_to('Project Description', edit_yogo_project_path(project), :title => 'Edit Project Description')
            =clear_break
            %em= tooltip(project.description, 
                    project.name + ' Description', 200)
          - else
            %em= link_to('[Add Project Description]', edit_yogo_project_path(project))
        .vertical-links
          .link= link_to("Project Dashboard", yogo_project_path(project), :class => 'button-link')
          - if project.yogo_model_uid
            .link= link_to("Edit Experimental Design", kefed_editor_yogo_project_url(project, :uid => project.yogo_model_uid), :class => 'button-link')
          - else
            .link= link_to("Add Experimental Design", kefed_library_yogo_project_url(project), :class => 'button-link')
          /.link= link_to("Import Spreadsheet", import_csv_path(project), :class => 'button-link')
          .link= link_to("Project Settings", edit_yogo_project_path(project), :class => 'button-link')
          =clear_break
]
          
      .project-datasets
        - if project.data_collections.empty?
          %p 
            There are no datasets associated with this project.<br />
            = link_to('Edit Experimental Design', kefed_editor_yogo_project_url(project))
        - else
          %table
            %thead
              %tr
                %th Subject ID
            %tbody

              /- for row in project.root_model.all
              - row = project.root_model.all.first
              %tr
                %td= project.root_model.all.map{|f| f.yogo__subject_id }.uniq
                /%td= link_to dataset.public_name,
                /      project_yogo_data_index_path(project, dataset) 
                /%td= link_to(dataset.count(:created_at.gt => 1.week.ago),
                /      project_yogo_data_index_path(project, dataset))
                /%td= link_to(dataset.count, project_yogo_data_index_path(project, dataset))
                /%td= link_to(image_tag('table_edit.png', :title => "Browse Data") + " Browse",
                /      project_yogo_data_index_path(project, dataset))
                / TODO: Show the model editor
                /%td= link_to(image_tag('layout_edit.png', 
                /      :title => "Describe Dataset") + " Describe",
                /      project_yogo_models_path(project))
                /%td= link_to(image_tag('table_add.png', 
                /      :title => "Import Spreadsheet") + " Import", 
                /      import_csv_path(project))
                

#pagination-links= pagination_links(Yogo::Project, params[:page], 5)
