.small-centered
  %h1#content-title Create Experimental Design
  %h2= "Experiment: #{@project.name}"

.small-centered
  .rbox.dashed
    %h3 Choose an Experimental Design Template
    %ul(style='list-style-type: star')
      - for design in @experimental_designs
        %li= link_to(design.model_name, 
                    kefed_editor_project_url(@project) + "?uid=#{design.uid}&editor_action=copyModel", 
                    :class => 'button-link')
    %h3 Or
    = link_to('Create A New Experimental Design', kefed_editor_project_url(@project, :editor_action => 'createModel'), :class => 'button-link')
