=clear_break
%iframe(name='kefedFrame' id='kefedFrame' src="#{kefed_editor_swf_url}#{@kefed_params}#{kefed_storage_params}")
  %p Your browser does not support iframes.

:javascript
  document.domain = '#{root_url.match(/\/\/([\w\d]+\.*)+/)[0][2..-1]}';
  var kefed_frame = $('iframe#kefedFrame');
  var saved = false;
  kefed_frame.load(function() {
    //console.debug(this);    
    //console.debug($(this).contents().find('#kefedStatus').contents());
    this.contentWindow.editorCallback = function(params){
      uid = params.split('uid')[1].split('&')[0].slice(1);
      //alert("uid: " + uid); 
      target = $('#kefed_finish').attr('href');
      if(!saved){
        $('#kefed_finish').attr('href', target + '?uid=' + params.uid);
        $('#flash').html("<a href='#{add_kefed_diagram_yogo_project_url(@project)}?uid=" + uid + "'>Experimental Diagram Saved, Click Here to Finish</a>");
        saved = true;
      }
    };
  });

.text-center
  / =# link_to("Cancel",   yogo_projects_url, :class => 'big-button-link')
  / =# link_to("Finish & Continue", add_kefed_diagram_yogo_project_url(@project), :class => 'big-button-link', :id => 'kefed_finish', :style => 'display: none;')
