%h1#content-title= @project.name + ": Describe Experiment"

%iframe(src="#{kefed_editor_swf_url}#{@kefed_params}" width="100%" height="500")
  %p Your browser does not support iframes.

.text-center
  = link_to("Cancel",   projects_url, :class => 'big-button-link')  
  = link_to("Continue", @project, :class => 'big-button-link')