=clear_break

#kefed-navigator
  - if @project.yogo_model_uid
    %iframe(name='kefedFrame' id='kefedFrame' src="#{kefed_navigator_swf_url}?uid=#{@project.yogo_model_uid.to_s.upcase}&callbackFunction=navigatorCallback&zoom=0.2#{kefed_storage_params}" width="100%" height="600")
      %p Your browser does not support iframes.
  - else
    %h3= link_to('Create An Experimental Design', kefed_library_yogo_project_url(@project))

:javascript
  document.domain = '#{root_url.match(/\/\/([\w\d]+\.*)+/)[0][2..-1]}';
  var kefed_frame = $('iframe#kefedFrame');
  kefed_frame.load(function() {
    console.debug(this);    
    console.debug($(this).contents().find('#kefedStatus').contents());
    this.contentWindow.navigatorCallback = function(params){
      param_hash = new Array();
      sp = params.split('&');
      for (i in sp) {
        param_hash[sp[i].split('=')[0]] = sp[i].split('=')[1];
      }
      //alert("parent page: " + param_hash['uid']);
      links = {#{@project.data_collections.map{|c|"'#{c.id.to_s.upcase}': '#{yogo_project_collection_items_url(@project, c)}'"}.join(',')}};
      if(param_hash['type'] == "Measurement%20Specification"){
        //location.href = links[param_uid];
        $('#mi_' + param_hash['uid'].toLowerCase() ).toggle(); 
        $('#title_' + param_hash['uid'].toLowerCase()).toggleClass('icon-collapsed').toggleClass('icon-expanded');
      }
    };
  });

    
    
#project-info
  .investigator
    %strong Investigator: 
    #{@project.investigator}
  .description
    %strong Experiment Description:
    != tooltip(@project.description, @project.name + ' Description', 200)
  %h2 Measurements
  %dl
    - for collection in @project.kefed_ordered_data_collections
      %h4.measurement-title{:id => 'dt_' + collection.id}
        %span.icon.icon-collapsed.measurement-toggle{:id => "title_#{collection.id}", :onclick => "$('#mi_#{collection.id}').toggle(); $('#title_#{collection.id}').toggleClass('icon-collapsed').toggleClass('icon-expanded')"}
          = collection.name
        (#{collection.items.count})
      .measurement-info.rbox.dashed{:id => 'mi_' + collection.id}
        = link_to("View All Data", yogo_project_collection_items_path(@project, collection.id), :class => 'icon icon-show')
        .action-tabs
          %ul
            %li <a href="#md_#{collection.id}">Parameter Details</a>
            %li <a href="#qv_#{collection.id}">Quickview</a>
          = render(:partial => 'yogo/projects/collection_details',  :locals => {:collection => collection})
          = render(:partial => 'yogo/projects/quickview', :locals => {:collection => collection})
=clear_break
