=clear_break

#kefed-navigator
  - if @project.yogo_model_uid
    %iframe(name='kefedFrame' id='kefedFrame' src="#{kefed_navigator_swf_url}?uid=#{@project.yogo_model_uid.to_s.upcase}&callbackFunction=navigatorCallback" width="100%" height="600")
      %p Your browser does not support iframes.
  - else
    %h3= link_to('Create An Experimental Design', kefed_library_yogo_project_url(@project))

:javascript
  document.domain = '#{(Rails.env == 'development') ? 'localhost' : 'crux.msu.montana.edu'}';
  var kefed_frame = $('iframe#kefedFrame');
  kefed_frame.load(function() {
    //console.debug(this);    
    //console.debug($(this).contents().find('#kefedStatus').contents());
    this.contentWindow.navigatorCallback = function(params){
      split_params = params.split('&');
      param_type = split_params[1].split('=')[1];
      param_uid = split_params[2].split('=')[1];
      //alert("parent page " + param_type + param_uid);
      links = {#{@project.data_collections.map{|c|"'#{c.id.to_s.upcase}': '#{yogo_project_collection_items_url(@project, c)}'"}.join(',')}};
      if(param_type == "Measurement%20Specification"){
        location.href = links[param_uid];
      }
      
    };
  });

    
    
#project-info.rbox.dashed.small
  #investigator
    %strong Investigator: 
    #{@project.investigator}
  #description
    %strong Experiment Description:
    != tooltip(@project.description, @project.name + ' Description', 200)
  %h2 Measurements
  %dl
    - for collection in @project.kefed_ordered_data_collections
      %h4{:id => 'dt_' + collection.id}
        = link_to(collection.name, yogo_project_collection_items_path(@project, collection.id))
        (#{collection.items.count})
        %span.measurement-toggle{:onclick => "$('#mi_#{collection.id}').toggle();"} [+]
      .measurement-info{:id => 'mi_' + collection.id}
        %strong Parameters: 
        #{@project.yogo_model.measurement_parameters(collection.id, false).map{|p| p['label'] }.join(', ')}
          
/ #content-block
/   - for dataset in @project.models
/     - @item = dataset.new
/     .content-row-block
/       .dataset-name
/         %h2= link_to dataset.public_name, project_yogo_data_index_path(@project, dataset)
/         .vertical-links
/           .link= link_to("Add a new #{dataset.public_name}", new_project_yogo_data_path(@project, dataset), 
/                 :class => 'button-link')
/           .link= link_to("Browse All Data", project_yogo_data_index_path(@project, dataset), 
/                   :class => 'button-link')
/           .link= link_to("Import Spreadsheet", import_csv_path(@project), :class => 'button-link')
/           .link= link_to("Export Spreadsheet", project_yogo_data_index_path(@project, dataset, 
/                   :format => 'csv'), :class => 'button-link')
/       .dataset-info
/         .action-tabs
/           %ul
/             %li <a href="##{dataset.to_param}-dataset-details">Dataset Details</a>
/             %li <a href="##{dataset.to_param}-query">Query</a>
/             %li <a href="##{dataset.to_param}-quickview">Quickview</a>
/           = render(:partial => 'yogo/models/dataset',       :locals => {:dataset => dataset})
/           = render(:partial => 'yogo/projects/build_query', :locals => {:dataset => dataset})
/           = render(:partial => 'yogo/data/quickview',       :locals => {:dataset => dataset})
=clear_break
