!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")/
    %title= "Crux Prototype: #{controller.action_name}"

    = stylesheet_link_tag('compiled/screen.css', :media => "screen")
    = stylesheet_link_tag('compiled/print.css', :media => "print")
    = stylesheet_link_tag('jquery-ui-1.8.1.custom', 'jquery.fancybox-1.3.1')    
    /[if IE]
      = stylesheet_link_tag( 'compiled/ie.css')

    = javascript_include_tag('jquery-1.4.2.min.js', 
                             'jquery-ui-1.8.1.custom.min.js', 
                             'jquery.fancybox-1.3.1.pack.js',
                             'rails.js', 'application.js')

    %link{:rel => "shortcut icon", :href => "#{image_path("favicon.png")}"}/

  %body
    / Header (including optional menus)
    #header
      - unless Yogo::Setting['local_only']
        #login-links
          - if logged_in?
            = link_to(current_user.login, edit_user_path(current_user))
            |
            = link_to("logout", logout_path)
          - else
            = link_to("Login", login_path)
      #logo 
        Crux Prototype
        %span.smaller.emphasis 
          alpha v#{CRUX_VERSION}
      #menu
        = render(:partial => "menus/#{controller_name}_#{action_name}") rescue nil
        #flash
          - if flash[:notice]
            - if flash[:notice_link]
              .notice= link_to(flash[:notice], flash[:notice_link])
            - else
              .notice= flash[:notice]
          - if flash[:error]
            - if flash[:error_link]
              .error= link_to(flash[:error], flash[:error_link])
            - else
              .error= flash[:error]
          - if flash[:alert]
            - if flash[:error_link]
              .error= link_to(flash[:error], flash[:error_link])
            - else
              .error= flash[:alert]
    #content
      = yield 

    #footnotes_holder
    =clear_break   
    #footer
      #yogo-brand
        = link_to(image_tag("yogo.png", 
            :alt => "The Yogo Data Management Toolkit Logo"), 
            'http://yogo.msu.montana.edu/')
      %em Yogo Framework Prototype
